@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top 20 Pizza Toppings</h1>
    <p class="lead">The JSON Scanner currently scans a hard-coded URL for JSON data to sort and calculate the top 20.</p>
    <p>@Html.ActionLink("Top Orders", "Index", "Orders", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
</div>

